Q1. How do you comment code in Python? What are the different types of comments?

Ans:- 1. Single-line comments are used to comment on a single line or a portion of a line. You can use the hash symbol (#) to start a single-line comment. Anything after the hash symbol on that line will be considered a comment and will not be executed by the Python interpreter.

In [1]:
# This is a single-line comment
print("Hello, world!")  # This comment is at the end of the line

Hello, world!

2.  Multi-line comments are used to comment on multiple lines or a block of code. Unlike some other programming languages, Python does not have a specific syntax for multi-line comments. However, you can use triple quotes (either single quotes ''' or double quotes """) to create multi-line strings, which can effectively serve as multi-line comments. These strings are usually ignored by the interpreter and can span multiple lines.

In [2]:
'''
This is a multi-line comment.
It can span multiple lines.
'''
print("Hello, world!")

Hello, world!

Q2. What are variables in Python? How do you declare and assign values to variables?

In Python, variables are used to store data values. A variable is a name that refers to a specific location in memory where the data is stored. It allows you to easily access and manipulate the data throughout your code.

In [3]:
# Variable declaration and assignment
name = "John"
age = 25
is_student = True

# Printing the values of variables
print(name)         # Output: John
print(age)          # Output: 25
print(is_student)   # Output: True

# Modifying variable values
age = age + 1       # Incrementing age by 1
print(age)          # Output: 26

# Assigning the value of one variable to another
new_age = age
print(new_age)      # Output: 26

John
25
True
26
26

Q3. How do you convert one data type to another in Python?

In Python, you can convert one data type to another using type conversion functions or constructors.

1. Integer conversion: You can convert a value to an integer using the int() function. If the value is a floating-point number, it will be truncated to an integer.

In [4]:
num_float = 3.14
num_int = int(num_float)
print(num_int)  # Output: 3

3

2. Float conversion: You can convert a value to a float using the float() function. This is particularly useful when you want to perform arithmetic operations involving decimal values.

In [5]:
num_int = 3
num_float = float(num_int)
print(num_float)  # Output: 3.0

3.0

3. String conversion: You can convert a value to a string using the str() function. This is commonly used when you want to concatenate a non-string value with other strings or when you need to display the value as a string.

In [6]:
num_int = 42
num_str = str(num_int)
print("The answer is: " + num_str)  # Output: The answer is: 42

The answer is: 42

4. List conversion: You can convert a sequence of values to a list using the list() constructor. It takes an iterable object, such as a string, tuple, or range, and converts it into a list.

In [7]:
str_value = "Hello"
list_value = list(str_value)
print(list_value)  # Output: ['H', 'e', 'l', 'l', 'o']

['H', 'e', 'l', 'l', 'o']




Q4. How do you write and execute a Python script from the command line?

In [10]:
# script.py
print("Hello, World!")

Hello, World!

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [11]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In Python, complex numbers are represented using the complex data type. The imaginary part is denoted by a lowercase j or J. You can create a complex number by specifying the real and imaginary parts as arguments to the complex() function or by directly assigning a value in the form a + bj to a variable.

In [12]:
# Using the complex() function
complex_num_1 = complex(2, 3)
print(complex_num_1)  # Output: (2+3j)

# Assigning a value directly
complex_num_2 = 4 + 5j
print(complex_num_2)  # Output: (4+5j)

(2+3j)
(4+5j)

In Python, you can perform various mathematical operations with complex numbers. The arithmetic operations (+, -, *, /) can be applied to complex numbers, and Python provides functions like abs() for calculating the absolute value, real() for extracting the real part, and imag() for extracting the imaginary part.

In [13]:
complex_num_1 = complex(2, 3)
complex_num_2 = 4 + 5j

sum_complex = complex_num_1 + complex_num_2
print(sum_complex)      # Output: (6+8j)

abs_value = abs(complex_num_1)
print(abs_value)        # Output: 3.605551275463989

real_part = complex_num_2.real
imaginary_part = complex_num_2.imag
print(real_part, imaginary_part)  # Output: 4.0, 5.0

(6+8j)
3.605551275463989
4.0 5.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [14]:
age = 25

In [16]:
age

25

In this line of code, the variable 'age' is declared and assigned the value '25' using the assignment operator (=).

After executing this line, the variable 'age' will hold the value '25', and you can use it in subsequent code for various purposes, such as comparisons, calculations, or displaying the value.

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [18]:
price = 9.99

In [19]:
price

9.99

n this code, the variable price is declared and assigned the value 9.99 using the assignment operator (=). The value 9.99 is a decimal number, which is represented as a floating-point number in Python.

Therefore, the variable price belongs to the data type float, which represents floating-point numbers in Python. Floats are used to store and manipulate decimal numbers with a fractional component.

In [20]:
price = 9.99
data_type = type(price)
print(data_type)

<class 'float'>

This indicates that the data type of the variable 'price' is 'float'.

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [23]:
name = "Antik Chakraborty"

In [24]:
print(name)

Antik Chakraborty

Q10. Given the string "Hello, World!", extract the substring "World".

In [25]:
string = "Hello, World!"
substring = string[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [26]:
is_student = True

In [27]:
is_student = True
print(is_student)

True