Q1.

In [2]:
# String variable
my_string = "Hello, world!"

# List variable
my_list = [1, 2, 3, 4, 5]

# Float variable
my_float = 3.14

# Tuple variable
my_tuple = (6, 7, 8, 9, 10)

Q2.

The data types of the given variables are as follows:

(i) var1 - This variable is a string data type.

(ii) var2 - This variable is also a string data type.

(iii) var3 - This variable is a list data type.

(iv) var4 - This variable is a float data type.

Q3.

(i) / (Division Operator): The division operator is used to perform division between two numbers and returns the quotient as a floating-point number.

In [6]:
x = 10
y = 3
result = x / y
print(result)

3.3333333333333335

(ii) % (Modulo Operator): The modulo operator is used to calculate the remainder after division.

In [7]:
x = 10
y = 3
result = x % y
print(result)

1

(iii) // (Floor Division Operator): The floor division operator is used to perform division between two numbers and returns the quotient as an integer, rounded down to the nearest whole number.

In [8]:
x = 10
y = 3
result = x // y
print(result)

3

(iv) ** (Exponentiation Operator): The exponentiation operator is used to raise a number to a power.

In [9]:
x = 2
y = 3
result = x ** y
print(result)

8

Q4.

In [10]:
my_list = [1, 2.5, 'Hello', True, [1, 2, 3], {'a': 1, 'b': 2}, None, (4, 5, 6), 3 + 4j, False]

for element in my_list:
    print(f"Element: {element} | Data Type: {type(element)}")

Element: 1 | Data Type: <class 'int'>
Element: 2.5 | Data Type: <class 'float'>
Element: Hello | Data Type: <class 'str'>
Element: True | Data Type: <class 'bool'>
Element: [1, 2, 3] | Data Type: <class 'list'>
Element: {'a': 1, 'b': 2} | Data Type: <class 'dict'>
Element: None | Data Type: <class 'NoneType'>
Element: (4, 5, 6) | Data Type: <class 'tuple'>
Element: (3+4j) | Data Type: <class 'complex'>
Element: False | Data Type: <class 'bool'>

Q5.

In [11]:
# Input values for A and B
A = 100
B = 5

# Variables to keep track of the count and quotient
count = 0
quotient = A

# While loop to check divisibility and calculate count
while quotient % B == 0:
    quotient = quotient // B
    count += 1

# Output the result
if count > 0:
    print(f"A is divisible by B {count} times")
else:
    print("A is not divisible by B")

A is divisible by B 2 times

Q6.

In [12]:
# Creating the list of 25 integers
my_list = [4, 9, 12, 7, 18, 21, 15, 5, 27, 8, 11, 30, 16, 33, 20, 14, 25, 36, 22, 13, 39, 17, 24, 10, 31]

# Using for loop and if-else condition to check divisibility by 3
for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

4 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
15 is divisible by 3
5 is not divisible by 3
27 is divisible by 3
8 is not divisible by 3
11 is not divisible by 3
30 is divisible by 3
16 is not divisible by 3
33 is divisible by 3
20 is not divisible by 3
14 is not divisible by 3
25 is not divisible by 3
36 is divisible by 3
22 is not divisible by 3
13 is not divisible by 3
39 is divisible by 3
17 is not divisible by 3
24 is divisible by 3
10 is not divisible by 3
31 is not divisible by 3

Q7.

Immutable data types:
Immutable data types are those whose values cannot be changed after they are created. If you want to modify an immutable object, you need to create a new object. Examples of immutable data types in Python include:

Numbers (int, float, complex),
Strings,
Tuples.

In [15]:
name = "Alice"
print(name)

Alice

In [16]:
name[0] = "B"

TypeError: 'str' object does not support item assignment

In this example, we define a string name as "Alice". When we try to modify the first character of the string, it raises a TypeError because strings are immutable. To change the string, we need to create a new string.

Mutable data types:
Mutable data types, on the other hand, allow modifications to their values after they are created. You can directly modify the object without creating a new one. Examples of mutable data types in Python include:

Lists,
Sets,
Dictionaries

In [17]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [18]:
numbers[0] = 10
print(numbers)

[10, 2, 3, 4, 5]

In this example, we have a list numbers with elements [1, 2, 3, 4, 5]. We directly modify the first element of the list by assigning it a new value (10). The list is mutable, so the change is reflected in the original object.